<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styl.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      
    <title>RABS | Contact Us</title>
  </head>
  <body>
      
      <!-- header section -->
    <header class="main__header">
      <div class="container">
        <div class="main__header__content">
          <div class="logo">
            <a href="/index/login/search"><img src="/assets/img/hero-logo.png" alt="" /></a>
            <a href="/index/login/search"> <h1 class="logo__title">RABS</h1></a>
          </div>
          <div class="hotLine__wrapper">
            <img src="/assets/img/social-icons/mobile_icon.png" alt="" class="hotline-icon"/>
              
            <div class="hotline">
              <p>Hotline</p>
              <p>919989</p>
            </div>
          </div>
        </div>
      </div>
        <navbar>
            <div class="topnav">
                
                <ul class="navigation">
                  <a href="/index/login/search"><li>Home</li></a>
                <a href="/index/login/search/birds-and-pets"><li>Birds &amp; Pets</li></a>
                <a href="/index/login/search/account"><li>My Account</li></a>
                <a href="/index/login/search/contact-us"><li>Contacs us</li></a>
                <a href="/index/login/search/messanger"><li>Messanger</li></a>  
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
              <a href="/index"> <li class="log-out"> <img src="/assets/img/profile-pic.png" alt="Avatar" class="logout_pic">&nbsp;log out</li></a>
              </ul>
            </div>
        </navbar>
    </header>
      
      <!--  main section -->
    <main class="main__section">
      <div class="container">

        <div class="section-title">
          <h2 class="contact-title">Contact Us</h2>
          <p>If you have a problem like developing websites or you want to program an android or IOS application for your company or project or you want a desktop application for your business, contact me via these:</p>
        </div>

        <div class="row" data-aos="fade-in">

          <div class="col-lg-5 d-flex align-items-stretch">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>5 th Roxey, New Cairo, Cairo</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>RABS@yahoo.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>919989   
                    </p>
                  <a href="/#contact" target="_blank" > <input type="submit" value="Message Us" class="main__btn" /></a> 
                  <br>
                  <br>
                  <a href="/index/login/search/contact-us/feedback" > <input type="submit" value="Leave Your Feedback" class="main__btn" /></a>
                  <br>
                  <br>
              </div>
              
                <!-- map source code -->
        <iframe class="map" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d16352.352491604946!2d31.00652460409776!3d30.57564037555943!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xc49ca19e02abe2d2!2sFaculty%20of%20Computers%20and%20Information!5e1!3m2!1sen!2seg!4v1609057190587!5m2!1sen!2seg" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
            </div>
          </div>

        </div>

      </div>
    </main>
      
      <!-- footer section -->
    <footer class="main__footer">
      <div class="container">
        <div class="main__footer__content">
          <div class="main__footer__info">
            <div class="contacts">
              <p>Address:5 th Roxey, New Cairo, Cairo</p>
              <p>Email: email@yahoo.com</p>
              <p>Hotline:919989</p>
            </div>
            <div class="social__media">
              <a href="https://www.instagram.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/insta_icon.png" alt="" ></a>
              <a href="https://www.twitter.com" target="_blank" ><img class="social__media__icon" src="/assets/img/social-icons/twitter_icon.png" alt="" ></a>
              <a href="https://www.facebook.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/face_icon.png" alt="" /></a>
            </div>
          </div>
          <p class="copy__rights__area">CopyRights &#169; 2020 RVAS Egypt</p>
        </div>
      </div>
    </footer>
  </body>
</html>
