<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styl.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      
    <title>RABS | Feedback</title>
  </head>
  <body>
      
      <!-- header section -->
    <header class="main__header">
      <div class="container">
        <div class="main__header__content">
          <div class="logo">
            <a href="/index"><img src="/assets/img/hero-logo.png" alt="" /></a>
            <a href="/index"> <h1 class="logo__title">RABS</h1> </a>
          </div>
          <div class="hotLine__wrapper">
            <img src="/assets/img/social-icons/mobile_icon.png" alt="" class="hotline-icon" />
            <div class="hotline">
              <p>Hotline</p>
              <p>919989</p>
              

            </div>
          </div>
        </div>
      </div>
        
        <!-- nav bar section -->
        <navbar>
            <div class="topnav">
                
                <ul class="navigation">
                  <a href="/index/login/search"><li>Home</li></a>
                <a href="/index/login/search/birds-and-pets"><li>Birds &amp; Pets</li></a>
                <a href="/index/login/search/account"><li>My Account</li></a>
                <a href="/index/login/search/contact-us"><li>Contacs us</li></a>
                <a href="/index/login/search/messanger"><li>Messanger</li></a> 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
              <a href="/index"> <li class="log-out"> <img src="/assets/img/profile-pic.png" alt="Avatar" class="logout_pic">&nbsp;log out</li></a>
              </ul>
            </div>
        </navbar>
    </header>
      
      <!-- main section -->
    <main class="main__section">
      <div class="container">
        <div class="main__section__content">
          <h2>Leave Feedback for us</h2>
            <h5>Do you have a suggession or found some bug? Let us known in the field bellow.</h5>
          <form action="#">
           <textarea  class="main__input_descripiton" rows="5" cols="20"></textarea>
             
            
            <div class="form__footer">
              <input type="submit" value="Send Feedback" class="main__btn7" />
              
                
            </div>
          </form>
        </div>
      </div>
        
        <div class="app">
  <h1>Was this page helpful?</h1>
  <p>Let us know how we did for your services</p>

  <div class="container2">
    <div class="item">
      <label for="0">
      <input class="radio" type="radio" name="feedback" id="0" value="0">
      <span>🤬</span>
    </label>
    </div>

    <div class="item">
      <label for="1">
      <input class="radio" type="radio" name="feedback" id="1" value="1">
      <span>🙁</span>
    </label>
    </div>

    <div class="item">
      <label for="2">
      <input class="radio" type="radio" name="feedback" id="2" value="2">
      <span>😶</span>
    </label>
    </div>

    <div class="item">
      <label for="3">
      <input class="radio" type="radio" name="feedback" id="3" value="3">
      <span>😁</span>
    </label>
    </div>

    <div class="item">
      <label for="4">
      <input class="radio" type="radio" name="feedback" id="4" value="4">
      <span>😍</span>
    </label>
    </div>

  </div>
</div>
        <br><br>
        <input type="submit" value="Submit" class="main__btn6" />
    </main>
      
      <!-- footer section -->
    <footer class="main__footer">
      <div class="container">
        <div class="main__footer__content">
          <div class="main__footer__info">
            <div class="contacts">
              <p>Address:5 th Roxey, New Cairo, Cairo</p>
              <p>Email: email@yahoo.com</p>
              <p>Hotline:919989</p>
            </div>
            <div class="social__media">
              <a href="https://www.instagram.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/insta_icon.png" alt="" ></a>
              <a href="https://www.twitter.com" target="_blank" ><img class="social__media__icon" src="/assets/img/social-icons/twitter_icon.png" alt="" ></a>
              <a href="https://www.facebook.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/face_icon.png" alt="" /></a>
            </div>
          </div>
          <p class="copy__rights__area">CopyRights &#169; 2020 RVAS Egypt</p>
        </div>
      </div>
    </footer>
  </body>
</html>
