<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RABS</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">


  <!-- Vendor CSS Files -->
  <link href="/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="/assets/vendor/icofont/icofont.min.css" rel="stylesheet">
  <link href="/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="/assets/vendor/venobox/venobox.css" rel="stylesheet">
  <link href="/assets/vendor/owl.carousel//assets/owl.carousel.min.css" rel="stylesheet">
  <link href="/assets/vendor/aos/aos.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="/style.css" rel="stylesheet">

</head>

<body>

  <!-- ======= Hero Section ======= -->
  <section id="hero">
    <div class="hero-container">
      <a href="index.html" class="hero-logo" data-aos="zoom-in"><img src="/assets/img/hero-logo.png" alt=""></a>
      <h1 data-aos="zoom-in">Welcome To "RABS" Website</h1>
      <h2 data-aos="fade-up">We are team of talanted developers making animal shopping website</h2>
      <a data-aos="fade-up" href="/index" class="btn-get-started scrollto">Get Started</a>
      <a data-aos="fade-up" href="#about" class="btn-get-started scrollto">About Us</a>

    </div>
  </section><!-- End Hero -->

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container">

      <!-- The main logo is shown in mobile version only. The centered nav-logo in nav menu is displayed in desktop view  -->
      <div class="logo d-block d-lg-none">
        <a href="index.html"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a>
      </div>

      <nav class="nav-menu d-none d-lg-block">
        <ul class="nav-inner">
          <li class="active"><a href="index.html">Home</a></li>
          <li><a href="#about">About Us</a></li>

          <li class="nav-logo"><a href="index.html"><img src="/assets/img/logo.png" alt="" class="img-fluid"></a></li>
            
          <li><a href="#pricing">Pricing</a></li>
          <li><a href="#contact">Contact</a></li>

        </ul>
      </nav><!-- .nav-menu -->

    </div>
  </header><!-- End Header -->

  <main id="main">

    <!-- ======= Team (about us) Section ======= -->
    <section id="about" class="about">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Our Team</h2>
          <p>Software Engineering Project</p>
        </div>
<div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                  
                  <a href="/assets/img/team/team-1.jpg" data-gall="portfolioGallery" class="venobox" title="Ahmed Mohamed El-Sayad" ><img src="/assets/img/team/team-1.jpg" class="img-fluid" alt=""></a>
                <div class="social">
                    <a href="https://www.facebook.com/ahmed.sayaddd/" target="_blank"><i class="icofont-facebook"></i></a>
                    
                  <a href="https://twitter.com/ahmed_sayadd" target="_blank"><i class="icofont-twitter"></i></a>
                    
                  <a href="https://www.instagram.com/ahmed.sayadd/" target="_blank"><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h3>Ahmed Mohamed El-Sayad</h3>
                <h5><span>Leader Of Front-End Developing</span></h5>
                <p>Man who converting data to a graphical interface, through the use of HTML, CSS, Vue.js, and JavaScript, so that users can view and interact with that data.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                  <a href="/assets/img/team/team-2.jpg" data-gall="portfolioGallery" class="venobox" title="Gamal Ahmed Saad" ><img src="/assets/img/team/team-2.jpg" class="img-fluid" alt=""></a>
                <div class="social">
                  <a href="https://www.facebook.com/gamalahmed.wally" target="_blank"><i class="icofont-facebook"></i></a>
                    
                  <a href="https://twitter.com/gamalwally22" target="_blank"><i class="icofont-twitter"></i></a>
                    
                  <a><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Gamal Ahmed Saad</h4>
                <h5><span>One of Back-End team</span></h5>
                <p>he is responsible for server-side web application logic and integration of the work front-end developers do. Back-end developers are usually write the web services and APIs used by front-end developers and mobile application developers.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
                  <a href="/assets/img/team/team-3.jpg" data-gall="portfolioGallery" class="venobox" title="Hossam Ahmed Assad" ><img src="/assets/img/team/team-3.jpg" class="img-fluid" alt=""></a>
                <div class="social">
                  <a href="https://www.facebook.com/hossamelzoghpy1999" target="_blank"><i class="icofont-facebook"></i></a>
                    
                  <a><i class="icofont-twitter"></i></a>
                    
                  <a><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Hossam Ahmed Assad</h4>
                <h5><span>Leader of Back-End team</span></h5>
                <p>he is responsible for server-side web application logic and integration of the work front-end developers do. Back-end developers are usually write the web services and APIs used by front-end developers and mobile application developers.</p>
              </div>
            </div>
          </div>

        </div>
        
        <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in">
              <div class="member-img">
                  <a href="/assets/img/team/team-4.jpg" data-gall="portfolioGallery" class="venobox" title="Ahmed Mohamed Abd El-Hamied" ><img src="/assets/img/team/team-4.jpg" class="img-fluid" alt=""></a>
                <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100012760989079" target="_blank"><i class="icofont-facebook"></i></a>
                    
                  <a><i class="icofont-twitter"></i></a>
                    
                  <a><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Ahmed Mohamed Abd El-Hamied</h4>
                <h5><span>Front-End Designing</span></h5>
                <p>Man who converting data to a graphical interface, through the use of HTML, CSS, Vue.js, and JavaScript, so that users can view and interact with that data.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                  <a href="/assets/img/team/team-5.jpg" data-gall="portfolioGallery" class="venobox" title="Eslam Gamal Gamel" ><img src="/assets/img/team/team-5.jpg" class="img-fluid" alt=""></a>
                <div class="social">
                  <a href="https://www.facebook.com/profile.php?id=100008618860877" target="_blank"><i class="icofont-facebook"></i></a>
                    
                  <a><i class="icofont-twitter"></i></a>
                    
                  <a><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Eslam Gamal Gamel</h4>
                <h5><span>Front-End Designing</span></h5>
                <p>Man who converting data to a graphical interface, through the use of HTML, CSS, Vue.js, and JavaScript, so that users can view and interact with that data.</p>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="200">
              <div class="member-img">
                  <a href="/assets/img/team/team-6.jpg" data-gall="portfolioGallery" class="venobox" title="Hossam Osama El-Gazar" ><img src="/assets/img/team/team-6.jpg" class="img-fluid" alt=""></a>
                <div class="social">
                  <a href="https://www.facebook.com/hosam.elgazar.7" target="_blank"><i class="icofont-facebook"></i></a>
                    <a><i class="icofont-twitter"></i></a>
                  <a ><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Hossam Osama El-Gazar</h4>
                <h5><span>back-end developing</span></h5>
                <p>he is responsible for server-side web application logic and integration of the work front-end developers do. Back-end developers are usually write the web services and APIs used by front-end developers and mobile application developers.</p>
              </div>
            </div>
          </div>

        </div>
            <div class="row">

          <div class="col-lg-4 col-md-6 d-flex align-items-stretch">
            <div class="member" data-aos="zoom-in" data-aos-delay="100">
              <div class="member-img">
                  <a href="/assets/img/team/team-7.jpg" data-gall="portfolioGallery" class="venobox" title="Hamdi Ibrahim Saadon" ><img src="/assets/img/team/team-7.jpg" class="img-fluid" alt=""></a>
                <div class="social">
                 <a><i class="icofont-facebook"></i></a>
                  <a><i class="icofont-twitter"></i></a>
                  <a><i class="icofont-instagram"></i></a>
                </div>
              </div>
              <div class="member-info">
                <h4>Hamdi Ibrahim Saadon</h4>
                <h5><span>back-end developing</span></h5>
                <p>he is responsible for server-side web application logic and integration of the work front-end developers do. Back-end developers are usually write the web services and APIs used by front-end developers and mobile application developers.</p>
              </div>
            </div>
          </div>

        </div>

      </div>
    </section><!-- End Team Section -->

    <!-- ======= Pricing Section ======= -->
    <section id="pricing" class="pricing section-bg">
      <div class="container">

        <div class="section-title" data-aos="fade-up">
          <h2>Pricing</h2>
          <p>If you want to subscribe to our site for free or with money</p>
        </div>

        <div class="row">

          <div class="col-lg-4 col-md-6">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Free</h3>
              <h4><sup>$</sup>0<span> / month</span></h4>
              <ul>
                <li>Post Your Product</li>
                <li>See Other Posted Productes</li>
                <li>Manage to leave Your Feedback After any Operation</li>
                <li class="na">Manage Messanger</li>
                <li class="na">Block Ads</li>
              </ul>
              <div class="btn-wrap">
                <a href="html-pages//index" class="btn-buy">Join Now</a>
              </div>
            </div>
          </div>

          <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Economic</h3>
              <h4><sup>$</sup>19<span> / month</span></h4>
              <ul>
                <li>Post Your Product</li>
                <li>See Other Posted Productes</li>
                <li>Manage to leave Your Feedback After any Operation</li>
                <li>Manage Messanger</li>
                <li class="na">Block Ads</li>
              </ul>
              <div class="btn-wrap">
                <a href="html-pages//index" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
         <div class="col-lg-4 col-md-6 mt-4 mt-lg-0">
            <div class="box" data-aos="zoom-in" data-aos-delay="100">
              <h3>Special</h3>
              <h4><sup>$</sup>49<span> / month</span></h4>
              <ul>
                <li>Post Your Product</li>
                <li>See Other Posted Productes</li>
                <li>Manage to leave Your Feedback After any Operation</li>
                <li>Manage Messanger</li>
                <li>Block Ads</li>
              </ul>
              <div class="btn-wrap">
                <a href="html-pages//index" class="btn-buy">Buy Now</a>
              </div>
            </div>
          </div>
        </div>

      </div>
    </section><!-- End Pricing Section -->

   
    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact section-bg">
      <div class="container">

        <div class="section-title">
          <h2>Contact</h2>
        </div>

        <div class="row">

          <div class="col-lg-4">
            <div class="info d-flex flex-column justify-content-center" data-aos="fade-right">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h4>Location:</h4>
                <p>5th Roxey,<br> New Cairo, Cairo</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h4>Email:</h4>
                <p>RABS_team@gmail.com</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h4>Call:</h4>
                <p>919989</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-5 mt-lg-0">

            <form action="forms/contact.php" method="post" role="form" class="php-email-form" data-aos="fade-left">
              <div class="form-row">
                <div class="col-md-6 form-group">
                  <input type="text" name="name" class="form-control" id="name" placeholder="Your Name" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                  <div class="validate"></div>
                </div>
                <div class="col-md-6 form-group">
                  <input type="email" class="form-control" name="email" id="email" placeholder="Your Email" data-rule="email" data-msg="Please enter a valid email" />
                  <div class="validate"></div>
                </div>
              </div>
              <div class="form-group">
                <input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                <div class="validate"></div>
              </div>
              <div class="form-group">
                <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Message"></textarea>
                <div class="validate"></div>
              </div>
              <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div>
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End main -->

  <!-- ======= Footer ======= -->
  <footer id="footer">

    <div class="footer-top">

      <div class="container">

        <div class="row justify-content-center">
          <div class="col-lg-6">
            <a href="#header" class="scrollto footer-logo"><img src="/assets/img/hero-logo.png" alt=""></a>
            <h3>RABS</h3>
            <p>A site for buying and selling pets and birds</p>
          </div>
        </div>

        <div class="row footer-newsletter justify-content-center">
          <div class="col-lg-6">
            <form action="" method="post">
              <input type="email" name="email" placeholder="Enter your Email"><input type="submit" value="Contact">
            </form>
          </div>
        </div>

        <div class="social-links">
            <a href="https://www.facebook.com" target="_blank" class="facebook"><i class="bx bxl-facebook"></i></a>
          <a href="https://www.twitter.com/" target="_blank"  class="twitter"><i class="bx bxl-twitter"></i></a>
          <a href="https://www.instagram.com/" target="_blank" class="instagram"><i class="bx bxl-instagram"></i></a>
        </div>

      </div>
    </div>

    <div class="container footer-bottom clearfix">
      <div class="copyright">
         Copyright &copy; <strong><span>2020</span></strong> All Rights Reserved in Egypt
      </div>
      <div class="credits">
        Developed by <a href="#">RABS</a>
      </div>
    </div>
  </footer>
    <!-- End Footer -->

  <a href="#" class="back-to-top"><i class="icofont-simple-up"></i></a>

  <!-- Vendor JAVA SCRIPT Files -->
  <script src="/assets/vendor/jquery/jquery.min.js"></script>
  <script src="/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/jquery.easing/jquery.easing.min.js"></script>
  <script src="/assets/vendor/php-email-form/validate.js"></script>
  <script src="/assets/vendor/jquery-sticky/jquery.sticky.js"></script>
  <script src="/assets/vendor/venobox/venobox.min.js"></script>
  <script src="/assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
  <script src="/assets/vendor/owl.carousel/owl.carousel.min.js"></script>
  <script src="/assets/vendor/aos/aos.js"></script>

  <!-- Template Main JAVA SCRIPT File -->
  <script src="/assets/js/main.js"></script>

</body>

</html>