<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>RABS | Home</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
    
  <!-- Fonts -->
  <link rel="stylesheet" href="/assets/fonts/font-awesome.min.css">

  <!-- CSS File -->
  <link href="/home-style.css" rel="stylesheet">
  

</head>
    <body>
      <div>
        
<!-- container -->
 <div class="container">
     <!-- logo box -->
              <div class="box"> 
                <a class="hero-logo" href="../index.html" ><img class="logo" src="/assets/img/hero-logo.png" alt="logo"></a>
                <img class=" cat" src="/assets/img/home-page/cat.jpg" alt="parrot" >
              </div> 
     
     <!-- parrot photo box -->
     <div class="box"> 
         <img class=" parrot" src="/assets/img/home-page/parrot.png" alt="parrot" >
                  </div> 
     
           <!-- content of page -->
              <div class="content">
                <h1 class="title">RABS</h1>
                  <h2 class="home-words"><p>parrot, term applied to a large group of gaudy,<br>
                        raucous birds of the family psittacidae. <br>
                        they have been kept as cage birds since ancient<br>
                        times  parrot, term applied to a large<br> 
                        group of gaudy,raucous birds of the family psittacidae. <br>
                        they have been kept as cage birds since ancient times. <br>
                        </p></h2>
                      <a href="/index/login"> <button class="button1">Sign In</button></a>
                   &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                      <a href="/index/register"> <button class="button2">Sign Up</button></a>
                      <h5 class="login_Q">( If you have an email, <a href="/index/login">login</a> ) &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;( If you don't have an email, <a href="/index/register">sign up</a> )
      </h5>
                  <a href="#" ><img class="mouse_icon" src="/assets/img/home-page/mouse_icon.jpeg" alt="parrot" ></a>
               </div>
     
                  
</div>
        </div>
    </body>
</html>