<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styl.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
  
      
    <title>RABS | Sign up</title>
  </head>
  <body>
      
      <!-- header section -->
    <header class="main__header">
      <div class="container">
        <div class="main__header__content">
          <div class="logo">
            <a href="/index"><img src="/assets/img/hero-logo.png" alt="" /></a>
            <a href="/index"> <h1 class="logo__title">RABS</h1> </a>
          </div>
            
          <div class="hotLine__wrapper">
            <img src="/assets/img/social-icons/mobile_icon.png" alt="" />
            <div class="hotline">
              <p>Hotline</p>
              <p>919989</p>
            </div>
          </div>
        </div>
      </div>
    </header>
      
      <!-- main section -->
    <main class="main__section">
      <div class="container">
        <div class="main__section__content">
          <h2>Create Account</h2>
          <form action="/auth/register" method="POST">
            <input
              type="text"
              name="fname"
              id="firstname"
              class="main__input"
              placeholder="First Name"
            />
            <input
              type="text"
              name="lname"
              id="lastname"
              class="main__input"
              placeholder="Last Name"
            />
            <input
              type="text"
              name="id"
              id="id"
              class="main__input"
              placeholder="Your ID"
            />
            <input
              type="text"
              name="phone"
              id="phone"
              class="main__input"
              placeholder="Phone Number"
            />
            <input type="email" name="email" id="email" class="main__input" placeholder="Email" />
            <input type="password" name="password" class="main__input" placeholder="Password" />
            <div class="form__footer">
              <input type="submit" value="Sign Up" class="main__btn" />
              <div class="links__wrapper">
                <h5>Have Account? <a href="/index/login">Login</a></h5>
              </div>
            </div>
          </form>
        </div>
      </div>
      {{#if message}}
        <div class="cond"><h5>{{message}}</h5></div>
      {{/if}}
    </main>
      
      <!-- footer section -->
    <footer class="main__footer">
      <div class="container">
        <div class="main__footer__content">
          <div class="main__footer__info">
            <div class="contacts">
              <p>Address:5 th Roxey, New Cairo, Cairo</p>
              <p>Email: email@yahoo.com</p>
              <p>Hotline:919989</p>
            </div>
            <div class="social__media">
              <a href="https://www.instagram.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/insta_icon.png" alt="" ></a>
              <a href="https://www.twitter.com" target="_blank" ><img class="social__media__icon" src="/assets/img/social-icons/twitter_icon.png" alt="" ></a>
              <a href="https://www.facebook.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/face_icon.png" alt="" /></a>
            </div>
          </div>
          <p class="copy__rights__area">CopyRights &#169; 2020 RVAS Egypt</p>
        </div>
      </div>
    </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/js/bootstrap.bundle.min.js" 
    integrity="sha384-b5kHyXgcpbZJO/tY9Ul7kGkf1S0CWuKcCD38l8YkeH8z8QjE0GmW1gYU5S9FOnJ0" crossorigin="anonymous"></script>
    
  </body>
</html>
