<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="stylesheet" href="/styl.css" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <!-- Favicons -->
  <link href="/assets/img/favicon.png" rel="icon">
  <link href="/assets/img/apple-touch-icon.png" rel="apple-touch-icon">
      
    <title>RABS | View Post</title>
  </head>
  <body>
      
      <!-- header section -->
    <header class="main__header">
      <div class="container">
        <div class="main__header__content">
          <div class="logo">
            <a href="/index/login/search"><img src="/assets/img/hero-logo.png" alt="" /></a>
            <a href="/index/login/search"> <h1 class="logo__title">RABS</h1> </a>
          </div>
          <div class="hotLine__wrapper">
              
            <img src="/assets/img/social-icons/mobile_icon.png" alt="" class="hotline-icon" />
            <div class="hotline">
              <p>Hotline</p>
              <p>919989</p>
            </div>
          </div>
        </div>
      </div>
        <navbar>
            <div class="topnav">
                
                <ul class="navigation">
                  <a href="/index/login/search"><li>Home</li></a>
                <a href="/index/login/search/birds-and-pets"><li>Birds &amp; Pets</li></a>
                <a href="/index/login/search/account"><li>My Account</li></a>
                <a href="/index/login/search/contact-us"><li>Contacs us</li></a>
                <a href="/index/login/search/messanger"><li>Messanger</li></a> 
              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                  
              <a href="/index"> <li class="log-out"> <img  src="/assets/img/profile-pic.png" alt="Avatar" class="logout_pic">&nbsp;log out</li></a>
              </ul>
            </div>
        </navbar>
    </header>
      
      <!-- main section -->
    <main class="main__section">
      <div class="container">
        <div class="main__section__content">
          <h2>Parrot</h2>
          <img src="/assets/img/viewed-posts/parrot-post.jpeg" alt="" class="parrot_post" />
            <h2 class="veiw-more-words">Lorem lpsum is simply dummy text of the printing and<br> typesetting industry. Lorem lpsum has been the industry's<br> standard dummy text ever since the 1500s</h2>
        
          </div>
             
              <div class="content2">
    <img src="/assets/img/viewed-posts/location-icon.png"/ alt="" class="location-icon" >
    <h3>Location</h3>
    <p class="main-color">cairo, EGY</p>
</div>
           
                     <div class="content">
    <img src="/assets/img/viewed-posts/account-owner-icon.png"/ alt="" class="owner_icon" >
    <h3>Name</h3>
    <p class="main-color">username</p>
</div>
              <br>
              <div class="content2">
    <img src="/assets/img/viewed-posts/email-icon.png"/ alt="" class="location-icon" >
    <h3>Email</h3>
    <p class="main-color">username@gmail.com</p>
</div>
           
                     <div class="content">
    <img src="/assets/img/viewed-posts/phone-owner-icon.png"/ alt="" class="owner_icon" >
    <h3>Phone</h3>
    <p class="main-color">+02 128 288 5622</p>
</div>
         
            
      </div>
    </main>
      
      <!-- footer section -->
    <footer class="main__footer">
      <div class="container">
        <div class="main__footer__content">
          <div class="main__footer__info">
            <div class="contacts">
              <p>Address:5 th Roxey, New Cairo, Cairo</p>
              <p>Email: email@yahoo.com</p>
              <p>Hotline:919989</p>
            </div>
            <div class="social__media">
              <a href="https://www.instagram.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/insta_icon.png" alt="" ></a>
              <a href="https://www.twitter.com" target="_blank" ><img class="social__media__icon" src="/assets/img/social-icons/twitter_icon.png" alt="" ></a>
              <a href="https://www.facebook.com" target="_blank"><img class="social__media__icon" src="/assets/img/social-icons/face_icon.png" alt="" /></a>
            </div>
          </div>
          <p class="copy__rights__area">CopyRights &#169; 2020 RVAS Egypt</p>
        </div>
      </div>
    </footer>
  </body>
</html>
