/*--------------------------------------------------------------
# Style of Main input
--------------------------------------------------------------*/
.main__input {
  background: var(--mainDark);
  border: 3px solid var(--mainColor);
  padding: 0.8rem 0.5rem;
  font-size: 1.3rem;
  color: var(--gray);
  &::placeholder {
    color: var(--darkGray);
    font-size: 1.3rem;
  }
}
